<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Voira Front-end Challenge</title>
</head>
<body>
  <main class="wrapper">
  <app-button [name] = "btnName" [class]='primary' (btnClick)="triggerModal($event)"></app-button>
  <span *ngIf="isImageSaved" style=" margin: 2% 0;">{{image.name | ellipsizes:[25] }}</span>
  <div class="storedImage" *ngIf="isImageSaved">
  <img [src]="image.src"/>
  </div>
  </main>
  <app-modal [modalStatus] = "modalStatus" [modalTitle]="modalTitle" (btnClick1)="checkStatus($event)" (imageEvent)="imageEventCalled($event)"></app-modal>
</body>
</html>